
#local_load,
#local_save,
#download_json_file,
#download_json_file2,
#upload_json_file_label{
    display:block;
    background-color:#345;
    background:url(images/favicon.png);
    color:aqua;
    user-select:none;

    font-size:1.7vh;
    width:20vh;
    height:3vh;
}

#upload_json_file{
    display:none;
}

