
#local_load,
#local_save,
#test01,
#upload_json_file_label{
    display:block;
    background-color:#345;
    color:aqua;
    user-select:none;

    font-size:1.7vh;
    width:20vh;
    height:3vh;
}

#upload_json_file{
    display:none;
}
